<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:title" content="NSPredicate.xyz - NSPredicate / Core Data usage examples">
    <meta property="og:site_name" content="NSPredicate.xyz">
    <meta property="og:url" content="https://nspredicate.xyz">
    <meta property="og:description" content="NSPredicate / Core Data usage examples">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://nspredicate.xyz/assets/image/ogimage.png">

    <link rel="shortcut icon" type="image/png" href="assets/image/favicon.png"/>
  </head>
  <body>

    <div class="wrapper">

      <section>
        <div id="title">
          <a href="/"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Created by <a href="https://fluffy.es">Fluffy.es (Axel)</a></span>
          <span class="credits right">Hosted on <a href="https://github.com/cupnoodle/predicate">GitHub Pages</a></span>
        </div>

        {{ content }}

      </section>

      <h2 id="get-demo-xcode-project">Get Demo Xcode Project</h2>
      <div class="post-subscribe">
        <script async data-uid="dcc65f20be" src="https://f.convertkit.com/dcc65f20be/58dfa75899.js">
        </script>
      </div>
      <br><br>
      Found some mistake or want some example to be added? <a href="https://github.com/cupnoodle/predicate/issues">Create an issue here </a>
    </div>

  <!-- Fathom - simple website analytics - https://usefathom.com -->
  <script>
  (function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
  (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
  })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
  fathom('set', 'siteId', 'SWYPNGLF');
  fathom('trackPageview');
  </script>
  <!-- / Fathom -->
  </body>
</html>