<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="assets/image/favicon.png"/>
  </head>
  <body>

    <div class="wrapper">

      <section>
        <div id="title">
          <a href="/"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Created by <a href="https://fluffy.es">Fluffy.es</a></span>
          <span class="credits right">Hosted on GitHub Pages</span>
        </div>

        {{ content }}

      </section>

      <div class="post-subscribe">
        <div class="post-subscribe-left">
          <h4> Get demo Xcode project with Core Data / NSPredicate sample code</h4>
          <p> 
            <img src="https://iosimage.s3.amazonaws.com/xproj.png" style="max-width: 100px;">
          </p>
          <span>
            Try out NSPredicate / Core Data yourself!
          </span>
        </div>
        <div class="post-subscribe-right">
          <form action="https://www.getdrip.com/forms/87161541/submissions" method="post" data-drip-embedded-form="87161541">
            <div style="margin-bottom: 0.5rem;">
                <label for="drip-firstname">Name<span style="color:#952B45;">*</span></label><br>
                <input type="text" id="drip-firstname" name="fields[firstname]" value="">
            </div>
            <div>
                <label for="drip-email">Email Address<span style="color:#952B45;">*</span></label><br>
                <input type="email" id="drip-email" name="fields[email]" value="">
            </div>
            <div>
              <br>
              <input type="submit" value="Send me the project file!" data-drip-attribute="sign-up-button">
              <br><br>
              <span style="font-size: 0.8rem;">+ Weekly-ish iOS Development tips to help you become a better iOS developer.<br> No Spam. Unsubscribe any time.</span>
            </div>
          </form>
        </div>
      </div>

    </div>

  <!-- Default Statcounter code for Nspredicate.xyz https://nspredicate.xyz -->
  <script type="text/javascript">
  var sc_project=11799542; 
  var sc_invisible=0; 
  var sc_security="6ca49729"; 
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="free hit
  counter" href="http://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="//c.statcounter.com/11799542/0/6ca49729/0/" alt="free
  hit counter"></a></div></noscript>
  <!-- End of Statcounter Code -->
  </body>
</html>